<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>EJS Welcome to <%= title %></p>
  <%
  console.log(session);
  console.log(request);
  console.log(response);
  console.log(marked);
 %>
  </body>
</html>
