<% include header.ejs%>
<div class="am-container" style="min-height:545px;">
    <div class="am-g">
        <div class="am-g" style='margin-top: 20px;'>
            <ul class="am-list am-list-border">
                <li>
                    <a target="_black" href="http://mp.weixin.qq.com/s?__biz=MjM5NTE5NzUwMA==&mid=401814010&idx=1&sn=37238b9e677a4abd50da1aa20475230a&scene=23&srcid=0322zw9drbLtJG3C72bbZbim#rd">
                        李开复：如何写好个人简历
                    </a>
                </li>
                <li>
                    <a target="_black" href="https://www.zhihu.com/question/39722495">
                        知乎：简历上的哪些内容才是 HR 眼中的干货？
                    </a>
                </li>
                <li>
                    <a target="_black" href="https://www.zhihu.com/question/20184884">
                        知乎：优秀简历要遵循哪些规则？
                    </a>
                </li>
                <li>
                    <a target="_black" href="https://www.zhihu.com/question/21187514">
                        知乎：如何制作高水平简历？
                    </a>
                </li>
                <li>
                    <a target="_black" href="https://www.zhihu.com/question/25002833/answer/35391268">
                        知乎：程序员简历应该怎么写？
                    </a>
                </li>
                <li>
                    <a target="_black" href="http://deercv.com/">
                        DeerCV: 在线MarkDown简历工具 (有查看密码功能)
                    </a>
                </li>
                <li>
                    <a target="_black" href="http://get.ftqq.com/744.get">
                        Get社区：如何写好技术简历
                    </a>
                </li>
                <li>
                    <a target="_black" href="https://github.com/geekcompany/ResumeSample">
                        GitHub：程序员简历模板列表
                    </a>
                </li>
                <li>
                    <a target="_black" href="http://www.yebangyu.org/blog/2015/10/22/tipsforwritingcv/">
                        Yebangyu：计算机应届生简历撰写指南
                    </a>
                </li>
            </ul>
            <p class="am-serif"> I hole that would be useful for you.</p>
        </div>
    </div>
</div>
<% include footer.ejs%>