<% include header.ejs %>
<div style='background:#F7F7F7;'>
    <div class="am-container am-vertical-align" style="min-height:545px;">
        <div class="am-g am-vertical-align-middle">
            <div class="am-g">
                <div id="chart" style="width: 600px;height:500px;"></div>
            </div>
            <div class="am-g">
                注:薪资统计按照拉钩标示的最低值统计，例如：工作年限3-5年，薪资15k-20k，统计时取值为15k
            </div>
        </div>
    </div>
    <div>
        <% include footer.ejs %>
        <script src='https://cdn.bootcss.com/echarts/3.6.2/echarts.min.js'></script>
        <script src='./js/salary.js'></script>