<% include header.ejs%>
<div style='background:#2c343c;'>
    <div class="am-container am-vertical-align" style="min-height:545px;">
        <div class="am-g am-vertical-align-middle">
            <div class="am-g">
                <div id="chart" style="width: 600px;height:500px;"></div>
            </div>
        </div>
    </div>
    <div>
        <% include footer.ejs%>
        <script src='https://cdn.bootcss.com/echarts/3.6.2/echarts.min.js'></script>
        <script src='./js/workyear.js'></script>